:root {
  --primary-background-color: #181013;
  --secondary-background-color: #f1b21e;
  --primary-color: #fffcf3;
  --secondary-color: #fbcb5c;

  --card-box-shadow: rgba(200, 200, 175, 0.5);
}

/* ---------------  --------------- */

/* --------------- Reset layout --------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

body {
  background: var(--secondary-background-color);
}

.main-container {
  width: 90%;
  margin: 5% auto;
  background-color: var(--primary-background-color);
}

/* --------------- Header --------------- */

header h1 {
  text-align: center;
  padding: 2vw 0;
  color: var(--secondary-color);
}

/* --------------- NavBar --------------- */

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  column-gap: 1vw;
}

nav ul li a,
.logo a {
  display: block;
  padding: 1vw 1.5vw;
  border-bottom: var(--secondary-color) 1px solid;
}

nav ul li a:hover,
.logo a:hover {
  border-bottom-color: var(--primary-color);
  color: var(--secondary-color);
}


/* --------------- Banner --------------- */

.banner {
  display: flex;
  margin: 2vw 10%;
  /* column-gap: 2vw; */
}


/* --------------- Slide show --------------- */

.slide-show {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-show img {
  width: 100%;
  display: block;
}

#slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

input[name="slide"] {
  position: absolute;
  visibility: hidden;
}

.slides-navigator {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-nav {
  width: 40px;
  height: 10px;
  margin: 0 5px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: 0.4s;
}

.slide-nav:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-background-color)
}

#first-slide:checked~.slide-1 {
  margin-left: 0;
}

#second-slide:checked~.slide-1 {
  margin-left: -20%;
}

#third-slide:checked~.slide-1 {
  margin-left: -40%;
}

#fourth-slide:checked~.slide-1 {
  margin-left: -60%;
}

#fifth-slide:checked~.slide-1 {
  margin-left: -80%;
}

.next-slide,
.prev-slide {
  position: absolute;
  padding: 20px 5px;
  top: 40%;
  background-color: var(--primary-background-color);
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}

.next-slide:hover, .prev-slide:hover{
  opacity: 1;
}

.next-slide {
  right: 10px;
}

.prev-slide {
  left: 10px;
}

/* --------------- Box office --------------- */

/* .box-office {
  display: block;
  width: 30%;
  height: 100%;
}

.box-office:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.box-office-poster {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--secondary-color);
}


.box-office-poster img {
  width: 20%;
}

.box-office-num {
  display: block;
  padding: 0 20px;
  font-size: 25px;
}

.box-office-details>* {
  padding: 5px 0;
} */

/* --------------- Line Separator --------------- */

.line-separator,
.sort-genre {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 5vw;
}

.line-separator hr {
  width: 40%;
  margin-top: 10px;
  height: 1px;
  color: var(--secondary-color);
}

.line-separator h2 {
  width: 20%;
  text-align: center;
}

.sort-genre hr {
  width: 30%;
  margin-top: 10px;
  height: 1px;

  color: var(--secondary-color);
}

.sort-genre form {
  width: 20%;
  text-align: center;

}

.sort-genre form select {
  padding: 3px 0;
  border: var(--secondary-color) 1px solid;
  border-radius: 4px;
  background-color: var(--primary-background-color);
}

/* --------------- Movies page --------------- */

#movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5vw;
  margin: 2vw 10%;
}

.movie-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.movie-poster,
.movie-name {
  border: 1px var(--secondary-color) solid;
  margin-bottom: 0.5vw;
}

.movie img {
  display: block;
  width: 100%;
}

.movie-name {
  display: block;
  padding: 5px 0;
  text-align: center;
}

.shade {
  position: absolute;
  width: 100%;
  top: 0;
  height: 60px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), black);
}


.movie-popularity,
.movie-duration {
  position: absolute;
  top: 10px;
  font-size: 13px;
  z-index: 1;
}

.movie-duration {
  right: 10px;
}

.movie-popularity {
  left: 10px;
}

.movie-detail-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.movie-detail-wrapper>* {
  display: block;
}

.movie-rate {
  margin-top: 40%;
  padding: 10px;
}

.movie-language {
  width: 40px;
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
}

.movie-age {
  padding: 15px 0;
}

.movie-wrapper:hover .movie-detail-wrapper {
  top: 0;
  background-color: rgba(4, 5, 6, 0.8);
}




.page-navigator {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-navigator ul li {
  display: inline-block;
}

.page-navigator ul li span {
  text-align: center;
  display: block;
  padding: 4px 8px;
  margin: 0 4px;
  border: var(--secondary-color) 1px solid;
  opacity: 0.8;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.page-navigator ul li span:hover {
  color: var(--primary-background-color);
  background-color: var(--secondary-color);
}


#giphy-main-container {
  margin: 5% 10%;
  column-count: 5;
  column-gap: 1vw;
}

/* --------------- Giphy's Page --------------- */

.giphy {
  width: 100%;
}

.giphy-title {
  padding: 1vw 0;
  text-align: center;
}


.search input {
  color: #181013;
}


.search {
  display: flex;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2vw;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  overflow: hidden;
}

.search input {
  display: block;
  width: 80%;
  padding-left: 2vw;
  font-size: 18px;
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.search input:focus {
  outline: 0;
}

.search span {
  width: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transform: scaleY(-1) rotate(30deg);
}

.search span:hover {
  cursor: pointer;
}


/* --------------- Movie info page --------------- */

.movie-info-wrapper {
  display: flex;
  margin: 2vw 10%;
  column-gap: 2vw;
}

.movie-info-poster {
  width: 30%;
}

.movie-info {
  width: 70%;

}

.movie-info>* {
  padding: 1vw 0;
}

.movie-brief {
  width: 100%;
}

.movie-info-wallpaper {
  width: 80%;
  margin: auto 10%;
}


/* --------------- Contact form --------------- */

.get-in-touch{
  width: 80%;
  margin: 5vw auto;
}

.get-in-touch h2{
  text-align: center;
  margin-bottom: 3vw;
}

.email,
.message,
button,
.name, .subject {
    width: 100%;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    border-color: var(--secondary-color);
    margin-bottom: 2vw;
    padding: 1vw 0;
    color: var(--primary-background-color);
    padding-left: 10px;
}


.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper div {
    width: 45%;
}


.get-in-touch textarea {
    height: max(15vw, 150px);
}

.consent-wrapper {
    text-align: center;
    margin-bottom: 2vw;
}

.consent-wrapper input{
    width: max(0.8vw, 12px);
    height: max(0.8vw, 12px);
}

.consent-wrapper a{
  text-decoration: underline;
  color: #4545ff;
}


.get-in-touch button {
    display: block;
    width: 40%;
    margin-left: 30%;
    background-color: var(--primary-background-color);
    border: 1px solid var(--secondary-color);
    border-radius: 2vw;
    color: var(--primary-color);
}

.get-in-touch button:hover {
    cursor: pointer;
    color: var(--secondary-color);
}


/* --------------- Footer --------------- */

footer {
  margin-top: 5vw;
  padding: 2vw 0;
  text-align: center;
  border-top: 1px solid var(--secondary-color);
}