:root {
  --primary-background-color: #181013;
  --secondary-background-color: #f1b21e;
  --primary-color: #fffcf3;
  --secondary-color: #fbcb5c;

  --card-box-shadow: rgba(200, 200, 175, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

body {
  background: var(--secondary-background-color);
}

.main-container {
  width: 90%;
  margin: 5% auto;
  background-color: var(--primary-background-color);
}

header h1 {
  text-align: center;
  padding: 2vw 0;
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  column-gap: 1vw;
}

nav ul li a,
.logo a {
  display: block;
  padding: 1vw 1.5vw;
  border-bottom: var(--secondary-color) 1px solid;
}

nav ul li a:hover,
.logo a:hover {
  border-bottom-color: var(--primary-color);
  color: var(--secondary-color);
}


.banner {
  display: flex;
  margin: 2vw 10%;
  column-gap: 2vw;
  height: 30vw;
}


.slide-show {
  position: relative;
  width: 70%;
}

.slide-show img{
  width: 100%;
  display: block;
}

.next-slide{
  position: absolute;
  padding: 20px 5px;
  top: 40%;
  right: 10px;
  background-color: black;
  cursor: pointer;
}

.prev-slide{
  position: absolute;
  padding: 20px 5px;
  top: 40%;
  left: 10px;
  background-color: black;
  cursor: pointer;
}

.change-slides{
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.slide{
  margin: 0 2px;

  cursor: pointer;
}

.box-office {
  width: 30%;
}

.box-office:last-child{
  border-bottom: 1px solid var(--secondary-color);
}

.box-office-poster{
  display: flex;
  align-items: center;
  border-top: 1px solid var(--secondary-color);
}


.box-office-poster img{
  width: 20%;
}

.box-office-num{
  display: block;
  padding:  0 20px;
  font-size: 25px;
}

.box-office-details > *{
  padding: 5px 0;
}


#movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2vw;
  margin: 2vw 10%;
}

.movie {
  position: relative;
}

.movie-poster,
.movie-name {
  border: 1px var(--secondary-color) solid;
  
  border-radius: 2px;
}

.movie img {
  width: 100%;
}

.movie-name{
  padding: 5px 0;
  text-align: center;
}

.movie-popularity {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #181013;
}

.movie-duration {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #181013;
}

.movie-detail-wrapper {
  position: absolute;
  top: 30%;
  left: 30%;
}

.movie-detail-wrapper span{
  display: block;
  margin: 5px auto;
  text-align: center;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #181013;
}


#giphy-main-container{
  margin: 5%;
  column-count: 5;
  column-gap: 1vw;
}



.giphy{
  width: 100%;
}

.giphy-title{
  padding: 1vw 0;
  text-align: center;
}



footer {
  margin-top: 5vw;
  padding: 2vw 0;
  text-align: center;
  border-top: 1px solid var(--secondary-color);
}